$w1: #eaeaea;
$w2: #dedede;
$pfeilC: #12a2d4;

.amh-readmore-wrap {
  margin-bottom: 20px;

  .amh-readmore-item-head {
    padding: 10px;
    background-color: $w1;
    p {
      font-weight: normal;
      strong {
        font-weight: bolder;
      }
    }
  }
  .amh-readmore-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    @media (max-width: 990px) {
      flex-wrap: wrap;
    }
    .amh-readmore-item:last-child {
      border-right: 3px solid $w2;
    }
    .amh-readmore-item {
      border-right: 3px solid $w1;
      background-color: $w2;
      * {
        pointer-events: none;
      }
      @media (max-width: 990px) {
        border-right: none;
      }
      padding: 0 10px;
      width: 100%;
      min-height: 60px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .amh-readmore-item-text {
        display: flex;

        align-items: center;
        width: calc(100% - 40px);
        h5 {
          margin: 0;
        }
        h5:nth-child(1) {
          width: 100px;
          text-align: left;
        }
        h5:nth-child(2) {
          width: 100%;
          text-align: center;
        }

        .amh-readmore-item-image {
          width: 100px;
          height: 48px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .amh-readmore-item-arrow {
        width: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        svg {
          border-radius: 50%;
          border: $pfeilC solid 3px;
          height: 40px;
          width: 40px;
          fill: $pfeilC;
          background-color: white;
        }
        transition: transform 0.25s;
      }

      &.amh-readmore-item-active {
        .amh-readmore-item-arrow {
          transform: rotate(90deg);
          svg {
            background-color: $pfeilC;
            fill: white;
          }
        }
      }
      &.amh-readmore-item-inactive {
        opacity: 0.2;
        background-color: rgba(99, 97, 97, 0.322);
      }
    }
  }
}
.amh-readmore-items-subContent {
  // border: red solid 1px;

  .amh-readmore-subContent {
    padding: 0 10px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.25s ease;
    * {
      font-size: 0;
      line-height: 0px;
      opacity: 0;
      transition: all 0.25s ease;
    }
    &.amh-readmore-subContent-active {
      border-bottom: black solid 1px;
      transition: all 0.25s ease;
      max-height: fit-content;
      * {
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 0.4px;
        font-weight: bold;
        opacity: inherit;
        transition: all 0.25s ease;
      }
      strong {
        font-weight: bolder;
      }
    }
  }
}

.amh-readmore-ampel-wrap {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.amh-readmore-ampel-item {
  margin: 1px;
  width: 20px;
  height: 20px;
  border: #6f6f6f solid 1px;
  border-radius: 50%;
  background-color: white;

  &.amh-readmore-ampel-item-active-1 {
    background-color: #00b41a;
  }

  &.amh-readmore-ampel-item-active-2 {
    background: #cbf396;
    background: linear-gradient(90deg, #00b41a 20%, #cbf396 70%);
  }

  &.amh-readmore-ampel-item-active-3 {
    background-color: #c0c0c0;
  }

  &.amh-readmore-ampel-item-active-4 {
    background: rgb(251, 220, 133);
    background: linear-gradient(90deg, rgba(251, 220, 133, 1) 30%, rgba(218, 50, 39, 1) 80%);
  }

  &.amh-readmore-ampel-item-active-5 {
    background-color: #da3227;
  }
}
